* {background-color: lawngreen;}
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
    width: 300px;
    margin: ;
    background-color: #blueviolet;
}

.transition-box {
    width: 400px;
    height: 400px;
    background-color: #3498db; 
    border-radius: 10px;
    position: absolute;
    
   
    transition: all 0.6s ease-in-out;
}

/* This is the final state, triggered on hover */
.transition-box:hover {
    width: 200px;
    height: 100px;
    background-color: #e74c3c; 
    border-radius: 100%; /* Final border radius (makes it a circle) */
    transform: rotate(180deg); /* Rotate the element */
}
